button {
  margin: 1rem;
  height: 3rem;
  width: 8rem;
  outline: none;
  border: none;
  border-radius: 30px;
  background-color: rgb(255, 215, 0);
  box-shadow: 0 5px 2px hsl(43, 74%, 49%);
  transition: box-shadow 0.15s, transform 0.15s;
}

button:active {
  box-shadow: none;
  transform: translateY(5px);
}
