.app {
  padding-top: 10rem;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  margin: 1rem;
  height: 2rem;
  width: 4rem;
  outline: none;
  border: none;
  border-radius: 30px;
  background-color: rgb(255, 215, 0);
  box-shadow: 0 2px 2px hsl(43, 74%, 49%);
  transition: box-shadow 0.1s, transform 0.1s;
}

button:active {
  box-shadow: none;
  transform: translateY(2px);
}

.delete {
  height: 1.5rem;
  width: 1.5rem;
  background-color: rgb(255, 0, 0);
  box-shadow: 0 2px 2px rgb(139, 0, 0);
  color: rgb(255, 255, 255);
}

h1,
h2 {
  margin: 0.2rem;
  font-family: "Roboto Condensed", sans-serif;
}

h2 {
  font-size: 1rem;
}

p {
  display: inline-block;
  user-select: none;
}

form {
  margin-top: 2rem;
}

.taskCounter {
  display: block;
}

.striked {
  text-decoration: line-through;
}

.tasks {
  width: 18rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#taskInput {
  margin: 1rem;
  padding: 0.4rem;
}

@media screen and (max-width: 768px) {
  * {
    text-align: center;
  }

  .app {
    padding: 2rem;
  }

  h2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 414px) {
  .tasks {
    width: 15rem;
  }
}
